@{
    ViewData["Title"] = "Welcome";
}

<div class="principal">
    <div class="entries">

        <article class="blog-post">
            <h2>Lorem ipsum dolor</h2>
            <p class="blog-post-meta">August 10, 2024 by <a href="#">NioZero</a></p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel est vel ipsum posuere commodo venenatis
                vitae libero. Aenean facilisis sollicitudin congue. Nulla odio metus, congue eget mi quis, sagittis
                ultricies metus. In hac habitasse platea dictumst. Phasellus nec massa accumsan ligula semper bibendum eu
                ut diam. Nullam in tristique massa, suscipit dictum turpis. Praesent ac hendrerit magna. Ut pharetra
                faucibus lacinia. Vestibulum aliquam malesuada sapien ac finibus. Suspendisse bibendum consectetur condimentum.
                Vestibulum cursus eros at varius mattis. Integer eu magna luctus, vestibulum massa in, hendrerit tortor.
                Curabitur a suscipit leo, vel ornare tortor.</p>
            <hr>
            <p>Aliquam molestie tristique elit, quis scelerisque nisi. Aliquam sed eros dignissim, ultrices arcu nec,
                egestas ex. Aliquam non malesuada nulla. Pellentesque et vulputate turpis, non condimentum nisl. Sed eget
                venenatis turpis. Nunc lorem odio, interdum sit amet purus et, commodo vulputate eros. Vestibulum lobortis
                enim in purus tempor, ut ullamcorper massa blandit. Nunc varius velit in odio interdum, non volutpat
                lectus bibendum. Morbi nec dictum quam.</p>

        </article>

        <article class="blog-post">
            <h2>Aenean bibendum</h2>
            <p class="blog-post-meta">August 9, 2024 by <a href="#">NioZero</a></p>

            <p>Aenean bibendum mi id auctor ultricies. Vestibulum aliquet rutrum viverra. Cras molestie varius quam, sodales
                feugiat lorem aliquam nec. In a nunc nec magna maximus euismod eleifend quis orci. Mauris ultrices lorem
                purus. Nulla lacus justo, viverra et iaculis in, malesuada sed odio. Aliquam at euismod nisi, vel commodo
                tortor. Vestibulum ac nibh nisi. Phasellus eget viverra libero. Mauris consectetur risus sed orci consectetur
                ultrices. Vivamus vestibulum vel ante quis tristique. Donec eleifend eu dui ac porttitor. Nullam hendrerit
                hendrerit nisi, sit amet fermentum orci posuere ut. Morbi ultrices ac nisi et finibus. Vestibulum risus enim,
                congue id lorem scelerisque, gravida rhoncus elit. Etiam placerat suscipit sodales.</p>

        </article>

        <article class="blog-post">
            <h2>Pellentesque condimentum</h2>
            <p class="blog-post-meta">August 8, 2024 by <a href="#">NioZero</a></p>

            <p>Pellentesque condimentum pulvinar pulvinar. Duis finibus ante lectus, non vulputate erat ornare sed. Morbi nec
                est nec eros faucibus consectetur nec eget quam. Etiam sit amet nibh id ligula rhoncus sodales vel non nisi.
                Nullam vel accumsan nunc, non tincidunt mauris. Donec ullamcorper, lectus non fermentum tincidunt, sem metus
                ultrices risus, sed dignissim lacus erat ac metus. Morbi ultrices ipsum id mollis sollicitudin. Suspendisse
                aliquet cursus velit in finibus.</p>
            <ul>
                <li>Donec placerat felis at libero blandit, eu ultrices enim sodales.</li>
                <li>Maecenas at quam accumsan, dictum magna nec, dictum nulla.</li>
                <li>Integer tempus turpis at nisl malesuada, quis maximus lorem bibendum.</li>
                <li>Donec cursus sem id lacus faucibus scelerisque.</li>
                <li>Sed vitae est venenatis, egestas leo nec, accumsan leo.</li>
            </ul>
            <p>Etiam facilisis ipsum sed mauris suscipit sollicitudin. Suspendisse potenti. Ut condimentum nibh nec justo
                condimentum, et facilisis magna semper. Ut suscipit eu dui non ultrices. Maecenas nec dolor et mi molestie
                suscipit nec quis elit. Vestibulum dictum facilisis interdum. Maecenas ut lectus vulputate, interdum felis et,
                dictum augue. Sed et mi ut velit mattis lacinia.</p>
        </article>

    </div>

    <div class="rightmenu">
        <div>
            <div class="about-box">
                <h4 class="fst-italic">About</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel est vel ipsum posuere commodo venenatis
                    vitae libero. Aenean facilisis sollicitudin congue. Nulla odio metus, congue eget mi quis, sagittis
                    ultricies metus.</p>
            </div>

            <div>
                <h4>Recent posts</h4>
                <ul>
                    <li>
                        <a href="#">
                            <h6>Quisque nec nulla aliquet</h6>
                        </a>
                        <small>January 15, 2024</small>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Praesent tempus quam</h6>
                        </a>
                        <small>January 14, 2024</small>
                    </li>
                    <li>
                        <a href="#">
                            <h6>Aenean at ipsum egestas</h6>
                        </a>
                        <small>January 13, 2024</small>
                    </li>
                </ul>
            </div>

            <div class="archives">
                <h4>Archives</h4>
                <ol>
                    <li><a href="#">August 2024</a></li>
                    <li><a href="#">July 2024</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
