<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NioZero</title>
    @await Html.PartialAsync("_head_css.cshtml")
</head>
<body>
    <header>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2024 - NioZero - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await Html.PartialAsync("_footer_scripts.cshtml")
    @await Html.PartialAsync("_analytics.cshtml")
</body>
</html>
